<ul class="social-icons-menu">
    <li><a target="_blank" title="Behence" class="be" href="https://www.behance.net/camo">Behence</a></li>
    <li><a target="_blank" title="Instagram" class="in" href="https://www.instagram.com/camo.creative/">Instagram</a></li>
    <li><a target="_blank" title="Dribble" class="dp" href="https://dribbble.com/CamoCreative">Dribble</a></li>
    <li><a target="_blank" title="Gumroad" class="gr" href="https://gumroad.com/camo">Gumroad</a></li>
    <li><a target="_blank" title="Facebook" class="fb" href="https://dribbble.com/CamoCreative">Facebook</a></li>
</ul>