<div class="fourohfour-page">
    <div class="inner">
        <img class="img-responsive"
             src="{{ file_url(node.field_404_logo.entity.fileuri) }}" />
        <h3>{{ node.field_profile_photo.title }}</h3>
    </div>
</div>